<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830829318580-nfjpdlvvvgpei3c3rfeodogbk07b4kv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830829318580-nfjpdlvvvgpei3c3rfeodogbk07b4kv9</string>
	<key>API_KEY</key>
	<string>AIzaSyAgD6RFqlj2wjoh-LWJHqefEckobrUsRwc</string>
	<key>GCM_SENDER_ID</key>
	<string>830829318580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perpustakaan</string>
	<key>PROJECT_ID</key>
	<string>perpustakaan-f8863</string>
	<key>STORAGE_BUCKET</key>
	<string>perpustakaan-f8863.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830829318580:ios:2959322e33219e6f5b62e1</string>
</dict>
</plist>